// Color
$primary: hsl(243, 100%, 93%);
$secondary: hsl(229, 7%, 55%);
$darkblue: hsl(228, 56%, 26%);
$darkestblue: hsl(229, 57%, 11%);
$White: hsl(0, 0%, 100%);
$Gradient: linear-gradient(to right, #ffa399, #ff4d97);

// Font Family
$font-primary: "Raleway", sans-serif;
